.content-nav{
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-bottom: 1px solid #2d8fd9;
    overflow: hidden;
}
.content-nav p{
    margin: 15px 30px;
    color: #2d8fd9;
    font-size: 19px;
}
.sex{
    width: 600px;
    height: 400px;
    background-color: #e0e0e0;
    margin: 10px auto;
}
.return{
    position: fixed;
    right: 8px;
    bottom: 80px;
    width: 30px;
    height: 30px;
    background:url("../image/returntop.png") no-repeat center center #2d8fd9;
    cursor: pointer;
    display: none;
}